@model CrearRolView

@{
  ViewData["Title"] = "Crear Rol";
}

<h1 class="display-4 text-center text-gradient fw-bold">Crear rol</h1>

<div class="w-100 p-3 p-lg-5 border rounded-3 bg-light">

  <form method="post" asp-action="CrearRol">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="mb-3">
      <label class="form-label" asp-for="NombreRol"></label>
      <input class="form-control" asp-for="NombreRol">
      <span class="text-danger" asp-validation-for="NombreRol"></span>
    </div>

    <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Nuevo</button>
    <a class="btn btn-outline-secondary" asp-action="ListaRoles"><i class="fas fa-arrow-alt-circle-left"></i> Cancelar</a>

  </form>
</div>