@{
  ViewData["Title"] = "Acceso denegado";
}

<div class="alert alert-danger" role="alert">
  <h1 class="alert-heading">Acceso denegado</h1>
  <p>No tiene permisos para ver este contenido</p>
  <hr>
  <a class="alert-link" asp-controller="Home" asp-action="Index">Ir al inicio</a>
</div>